*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    position: absolute;
    background-color: rgb(56, 56, 212);
    width: 100vw;
   
   
   
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul
{
    list-style: none;
   
    display: flex;
    padding: 17px 17px;
    margin: 5px;
}
.navbar ul a
{
    text-decoration: none;
    padding: 20px;
    color: whitesmoke;
    font-family: sans-serif;
    
}
.navbar img
{
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 15px;
    
}
.navbar img:hover
{
    cursor: pointer;
    transition: all 2s ease-out;
    transform: rotate(360deg)  translateX(30px) ;
    transition-delay: 0.5s;
    
}
.content
{
    
    display: flex;
    justify-content: center;
    margin: 20px;
}
.text
{
    width: 30%;
    text-align: center;
    padding: 20px;
    
}

.text h1 span
{
    font-size: 70px;
    font-family: monospace;
    text-shadow: -5px -5px rgb(0, 0, 0);
}


.text h1
{
    color: whitesmoke;
    font-size: 50px;
    font-family: fangs;

}
.text h2
{
    color: whitesmoke;
   
    margin-top: 35px;
   font-family: 'Permanent Marker', cursive;
    font-size: 26px;
}
.text a
{
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}
.text a:hover
{
    color: rgb(11, 11, 12);
    background-color: whitesmoke;
    transition: 0.5s ease-in-out;
    
}

.content .pic
{
    width: 35%;
   
}
.content .pic img
{
    height: 350px;
    padding: 15px;

}
.navbar ul a:hover
{
    border: 3px solid whitesmoke;
    border-radius: 15px;
    
}
.others
{
    display: flex;
    justify-content: center;
   
    margin: 30px;
}
.others img
{
    height: 90px;
    padding: 15px;
}
.others img:hover
{
   transform: rotate(360deg);
   transition: all 1s ease-in-out;
   cursor: pointer;
}
.media
{
    display: flex;
    flex-direction: column;
  
    padding: 20px;
   
}
.media i
{
    color: whitesmoke;
    font-size: 50px;
    padding: 20px;
    cursor: pointer;
}
.media i:hover
{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    color: rgb(56, 56, 212) ;
    background-color: whitesmoke;
}



